.frame {
  background: #ecf0f7;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
}

.wrapper {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

.topText {
  font-weight: 900;
  font-size: 80px;
  margin: 0 auto;
  text-align: center;
}
